<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookings</title>
    <link rel="stylesheet" href="admin/bookings.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/" id="logo">Theatrix</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <div class="greet">
        <p><span>Bookings</span></p>
      </div>
      <aside>
        <div class="side-links">
          <a href="/admin/dashboard" id="dashboard">Dashboard</a>
          <a href="/admin/movies" id="movies">Movies</a>
          <a href="/admin/theatres" id="theatres">Theatres</a>
          <a href="/admin/screens" id="screens">Screens</a>
          <a href="/admin/shows" id="shows">Shows</a>
          <a href="/admin/bookings" id="bookings">Bookings</a>
        </div>
      </aside>
      <div class="card filler">
        <div class="card-title"><strong>Bookings</strong></div>
        <div class="booking-items"></div>
      </div>
    </div>
    <script src="admin/bookings.js"></script>
  </body>
</html>
