<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link rel="stylesheet" href="admin/styles.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/" id="logo">Theatrix</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <aside>
        <div class="side-links">
          <a href="/admin/dashboard" id="dashboard">Dashboard</a>
          <a href="/admin/movies" id="movies">Movies</a>
          <a href="/admin/theatres" id="theatres">Theatres</a>
          <a href="/admin/screens" id="screens">Screens</a>
        </div>
      </aside>
      <div class="card sales">Sales</div>
      <div class="card tickets">Tickets</div>
      <div class="card users">Users</div>
      <div class="card theatres">Theatres</div>
      <div class="card filler">Filler</div>
    </div>
    <script src="admin/script.js"></script>
  </body>
</html>
