<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link rel="stylesheet" href="admin/movies.css" />
  </head>
  <body>
    <div id="page"><%= page %></div>
    <div class="container">
      <nav>
        <a href="/" id="logo">Theatrix</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <aside>
        <div class="side-links">
          <a href="/admin/dashboard" id="dashboard">Dashboard</a>
          <a href="/admin/movies" id="movies">Movies</a>
          <a href="/admin/theatres" id="theatres">Theatres</a>
          <a href="/admin/screens" id="screens">Screens</a>
        </div>
      </aside>
      <div class="add-movie">
        <p class="title">Movies</p>
        <button class="add-btn">&plus; Add Movie</button>
      </div>
      <div class="movies"></div>
      <div class="pager">
        <button id="prev" onclick="prev">Prev</button>
        <button id="next" onclick="next">Next</button>
      </div>
    </div>
    <script src="admin/movies.js"></script>
  </body>
</html>
