<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Screens</title>
    <link rel="stylesheet" href="admin/screens.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/" id="logo">Theatrix</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <div class="greet">
        <p><span>Screens</span></p>
        <button class="add-screen">&plus; Add screen</button>
      </div>
      <aside>
        <div class="side-links">
          <a href="/admin/dashboard" id="dashboard">Dashboard</a>
          <a href="/admin/movies" id="movies">Movies</a>
          <a href="/admin/theatres" id="theatres">Theatres</a>
          <a href="/admin/screens" id="screens">Screens</a>
          <a href="/admin/shows" id="shows">Shows</a>
        </div>
      </aside>
      <div class="card filler">
        <div class="card-title"><strong>Screens</strong></div>
        <div class="screen-items"></div>
      </div>
    </div>
    <script src="admin/screens.js"></script>
  </body>
</html>
