body {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/axiom-pattern.png');
}
.theatre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 1rem;
  max-width: 10rem;
  background-color: #f0f8ff;
  border-left: solid 2px blue;
  border-radius: 10px;
}
