* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login {
  color: #1560bd;
}

.invalid-response {
  display: flex !important;
  align-self: flex-start;
}

.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form {
  background-color: white;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 50px;
  border-radius: 20px;
}

#register {
  background-color: #1560bd;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 4px;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

input::placeholder {
  color: rgb(125, 125, 125);
}
